.message-error {
    color: red;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.241);
    border-radius: 10px;
    gap: 6px;
    border: 1px solid var(--el-border-color-light);
    padding: 4px 20px;
    height: fit-content;
    position: fixed;
    bottom: 40px;
    right: 240px;
  }
  
  .message-success {
    color: rgb(0, 158, 0);
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.241);
    border-radius: 10px;
    gap: 6px;
    border: 1px solid var(--el-border-color-light);
    padding: 4px 20px;
    height: fit-content;
    position: fixed;
    bottom: 40px;
    right: 240px;
  }

  main {
    min-height: 81.5vh;
    margin: auto;
    max-width: 1440px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .text {
    padding: 2px 0 2px 0;
    font-size: 14px;
    margin: 0;
  }
  
  
  .no_data {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ca1111;
  }